<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
</head>
<body>
    <H1>WELCOME TO EMPLOYEE DETAILS</H1>
    
        <TAble>
            <thead>
                <Td>EID</Td>
                <Td>NAME</Td>
                <Td>PHONE NUMBER</Td>
                <Td>department</Td>
                <Td>SALARY</Td>
                <Td>ADDRESS</Td>
            </thead>
            {% for emp in data %}
            <tr>
                {{emp.Eid}}
                {{emp.name}}
                {{emp.phnum}}
                {{emp.dept}}
                {{emp.salary}}
                {{emp.address}}<br><br>
            </tr>
            {% endfor %}<br><br>

        </TAble>
</body>
</html>